<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.gcdd1993.mybatis.cache.mapper.StudentMapper">
    <!--    <cache type="io.github.gcdd1993.mybatis.cache.config.RedissonCache">-->
    <!--        <property name="timeToLive" value="200000"/>-->
    <!--        <property name="maxIdleTime" value="100000"/>-->
    <!--        <property name="maxSize" value="100000"/>-->
    <!--        <property name="redissonConfig" value="redisson.yaml"/>-->
    <!--    </cache>-->
    <!-- 开启二级缓存 -->
    <cache-ref namespace="io.github.gcdd1993.mybatis.cache.mapper.StudentMapper"/>
    <select id="selectById" resultType="io.github.gcdd1993.mybatis.cache.model.StudentPo">
        select *
        from student
        where id = #{id}
    </select>
</mapper>